.top-navbar{
    background-color: #262729;
    border: 0;
    border-radius: 0;
    
}
.navbar-brand{
    margin-right: 0;
    display: flex;
      gap: 10px;
      align-items: center;
      color: #fff;
}
.navbar-brand:hover,.navbar-brand:focus{
color: #fff;
}
.navbar-brand i{
    font-size: 35px;
}

.top-navbar .dropdown-menu{
    background-color: black;
    color: #fff;
   left: -30px !important;
}
.top-navbar .dropdown{
    appearance: none;
    position: relative;
}
.top-navbar .dropdown-toggle{
    color: #fff;
}
.top-navbar .dropdown-toggle:focus,.top-navbar .dropdown-toggle:focus{
    color: #fff;
}
.top-navbar .dropdown-toggle:hover,.top-navbar .dropdown-toggle:focus,.top-navbar .navbar-nav .nav-link.show {
    color: #fff;
}

.top-navbar .dropdown::before{
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    border-left: 3px solid #fff;
    border-bottom: 3px solid #fff;
    transform: rotate(315deg);
    left: 97%;
    top: 37%;
    appearance: none;
    pointer-events: none;
}
.top-navbar .dropdown-toggle::after {
    display: none;
}
.top-navbar .dropdown-menu li span{
    color: #fff;
}
.top-navbar .dropdown-menu li .dropdown-item:hover{
    background-color: #68686a !important;
}
.top-navbar .dropdown-menu li:nth-child(2){
    border-top: 1px solid #68686a;
}
.down-nav{
    background-color: #eee;
}
  .down-nav  .navbar-collapse {
    flex-grow: 0;
    flex-basis: 100%;
    position: absolute;
    z-index: 65;
    top: 100%;
    width: 95%;
    border-radius: 10px;
    padding-block: 10px;
    background-color: #08c1da;
    left: 2%;
}

  .down-nav  .navbar-collapse .navbar-nav {
    padding-inline: 25px;
    gap: 5px;
}

  .down-nav  .navbar-collapse .navbar-nav li .nav-link {
    font-size: .975rem;
    line-height: 24px;
    font-family: Medium;
    color: #000;
    position: relative;
    transition: all 0.4s cubic-bezier(0.215, 0.610, 0.355, 1);
}

  .down-nav  .navbar-collapse .navbar-nav li .nav-link:hover{
    color: red;
}
  .down-nav  .navbar-collapse .navbar-nav li .active {
    color: var(--red);
}
  .down-nav  .navbar-collapse .navbar-nav li .nav-link::after,
  .down-nav  .navbar-collapse .navbar-nav li .nav-link.active::after,
  .down-nav .navbar-collapse .navbar-nav li .nav-link.active::after {
    width: 95%;
    background-color: var(--red);
}


  .down-nav  .navbar-collapse .navbar-nav li .nav-link::after {
    content: "";
    position: absolute;
    top: 80%;
    left: 0;
    background-color: #171717;
    height: 4px;
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    width: 0%;
}

  .down-nav .navbar-toggler {
    border: none;
    box-shadow: none;
    background-color: #171717;
    border-radius: 50%;
    padding-block: 10px;
    padding-inline: 12px;
}

  .down-nav .navbar-toggler i {
    font-size: 32px;
}
.full-width{
    padding-top: 20px;
}
.full-width h1{
    font-size: 2.5rem;
    font-family: Bold;
    color: #000;
    text-align: center;
    position: relative;
}
.full-width h1::after{
    position: absolute;
    content: '';
    height: 7px;
    width: 20%;
    background-color: #08c1da;
    top: 100%;
    left: 40%;
}
footer{
    background-color: #1a1c28;
    padding-block: 2.5rem;
 }
 .par{
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #fff;
 }
 .address{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #fff;
 }
 .address p{
    font-size: 1rem;
    font-family: Regular;
 }
 .coll h2{
    color: #fff;
    padding-bottom: 10px;
    width: 100%;
 }
 .number{
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: #fff;
 }
 .number p{
    font-size: 1.2rem;
    font-family: Regular;
 }
 .pages{
    display: flex;
    flex-direction: column;
    gap: 15px;
 }
 ul.pages{
    padding-left: 0 !important;
 }
 .pages li{
    list-style: square;
    color: #357abe;
    font-size: 9px;
 }
 .pages li a{
    font-size: 1.1625rem;
    color: #fff;
    transition: all 0.3s ease;
 }
 .pages li a:hover{
    color: #08c1da;
 }
 .table{
    width: 90%;
    margin-inline: auto;
 }
 .table table{
    width: 100%;
    padding: 20px;
 }
 .table thead th{
    padding: 10px;
    font-family: SemiBold;
    font-size: 1.125rem;
}
.table tbody td{
    padding: 10px;
    font-size: 0.9375rem;
    font-family: Regular;
}

@media(min-width:576px){
    .top-navbar .collapse{
        justify-content: flex-end !important;
    }
}
@media(min-width:768px){
    .down-nav  .navbar-collapse {
        flex-grow: 0;
        flex-basis: 100%;
        position: static;
        z-index: 65;
        top: 100%;
        width: 95%;
        border-radius: 10px;
        padding-block: 10px;
        background-color: transparent;
        left: 2%;
    }
    .table thead th{

        font-size: 1.8125rem;
    }
    .table tbody td{
        font-size: 1.4375rem;

    }
   .bars{
    padding-block: 15px;
   }
   .navbar-expand .navbar-nav .dropdown-menu{
    left: -70% !important;
   }
}
@media(min-width:992px){}